<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">전체 방 목록</h1>
  </div>
</div>

<div align="center">
  <%= will_paginate %>
</div>

<%= render 'room', obj: @rooms %>

<div align="center">
  <%= will_paginate %>
</div>

